[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
seaborn = "*"
poetry = "*"
numpy = "*"

[dev-packages]
ruff = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
